.popup__container-image {
    margin: 0;
    padding: 0;
    box-sizing: none;
    border-radius: 0;
    background: none;
    max-width: 75vw;
    max-height: 75vh;
    align-items: center;
    justify-content: center;
    position: relative;
}